/* === OVERALL MODULE RULES === */

body > header {
  background: #FFEAAA;
}

nav {
  padding: 0.1em;
}

nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

nav:hover ul {
  display: block;
}

nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

/* === ARTICLE FORMATTING === */

address {
  color: #777;
  display: inline-block;
}

address a {
  font-weight: bold;
  text-decoration: none;
}

#article-export label {
  font-size: .8em;
  font-style: italic;
  color: #ccc;
}

/* === TEXT STYLES === */

p {
  font-size: 1em;
}

/* === LINK STYLES === */

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

/* === FORM STYLES === */

label {
  font-size: 3em;
}

input {
  width: 100%;
  margin: .5em 0;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

input[type="checkbox"] {
  width: .28em;
  height: .28em;
  font-size: 3em;
}

textarea {
  width: 100%;
  margin: .5em 0;
  font-size: 2em;
  border: 1px solid #ccc;
  border-radius: 0;
}

input:invalid, textarea:invalid {
  border-color: #AE3F3C;
}

input:valid, textarea:valid {
  border-color: #89CB8E;
}

/* === ICON FONT === */

.icon-menu {
  font-size: 3em;
  float: right;
}

/* === FILTER STYLES === */

#filters {
  padding: 0;
  list-style: none;
}

/* === MEDIA QUERY === */

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav {
    padding: .2em .2em .2em 2em;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506D;
  }
}
