h1 {
  color: green;
}

body {
  background-color: yellow;
}

@media screen and (min-width: 320px){
  body{
    background-color: blue;
  }
}

@media screen and (min-width: 960px){
  body{
    background-color: orange;
  }

  h1 {
    color: black;
  }
}